# OS
.DS_Store

# Node
.nvmrc
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Editors
.idea/
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json

# Build and distribution files
dist/
dist-js/
*.tgz
